@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main-section {
  background-color: grey;
  padding: 20px;
}

.hamburgericon {
  width: 50px;
  margin-bottom: 60px;
}

.hellotext {
  font-size: 30px;
  color: #ff4f38;
  margin-bottom: 5px;
}

.imagetext {
  color: transparent;
  background-image: url(./images/womenBackgeound.png);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description-text {
  border: 2px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.description-text p {
  line-height: 30px;
  font-size: 18px;
}

.date-venue {
  margin-bottom: 40px;
}

.date-venue h1 {
  color: #5b5b5b;
  font-size: 30px;
}

.date-venue p {
  color: #b1b1b1;
  font-size: 20px;
}

.mainprogram {
  background-image: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.programdetailscontainer {
  display: flex;
  flex-direction: column;
}

.programdetails {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.guidebar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.topicname {
  color: rgb(239, 81, 60);
  font-weight: bold;
  padding-left: 10px;
}

.topicdescription {
  color: rgb(255, 255, 255);
  padding-left: 10px;
}

.joindiv {
  background-color: #ff4f38;
  width: 80%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.featurespeaker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}
.featurespeaker h1 {
  font-size: 30px;
}

.profession {
  color: #ff4f38;
  font-size: 16px;
}

.shortintro {
  font-size: 14px;
}
.speakerintro {
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
}

.speakerdetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
}

.downarrow {
  font-size: 28px;
  font-weight: bold;
  color: #ff4f38;
}

.partnercontainer {
  width: 100%;
  background-color: #5b5b5b;
}

@media (min-width: 768px) {
  .programdetailscontainer {
    /* flex-direction: row; */
  }

  .programdetails {
    /* flex-direction: column; */
  }
}
