@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main-section {
  background-color: grey;
  padding: 20px;
}

.hamburgericon {
  width: 50px;
  margin-bottom: 60px;
}

.hellotext {
  font-size: 30px;
  color: #ff4f38;
  margin-bottom: 5px;
}

.imagetext {
  color: transparent;
  background-image: url(./images/womenBackgeound.png);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mainprogram {
  background-image: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
}
.guidebar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0px auto 54px;
}

.programdetails {
  background-color: rgba(255, 255, 255, 0.1);
}

.topicname {
  color: rgb(239, 81, 60);
}

.topicdescription {
  color: rgb(255, 255, 255);
}

.joindiv {
  background-color: #ff4f38;
}
