@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main-section {
  background-image: url(../../images/background.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(210, 210, 209, 0.8);
  padding: 20px;
}

.hamburgericon {
  width: 50px;
  margin-bottom: 60px;
}

.toplogo {
  display: none;
}

.navbar {
  display: none;
  width: 80%;
  height: 100vh;
  background-color: #5b5b5b;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  opacity: 0.7;
}

.navbar ul li a {
  text-decoration: none;
  color: #e4e4e4;
}

.navbar .nav-menu li a:active {
  color: #ec5242;
}

.navbar ul li {
  list-style: none;
  margin-bottom: 20px;
  color: #e4e4e4;
  font-size: 30px;
}

.navbar.show {
  display: block;
}

.closediv {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}

.hellotext {
  font-size: 30px;
  color: #ec5242;
  margin-bottom: 10px;
}

.imagetext {
  color: #f31e089c;

  /*  background-image: url(/images/homepagebackground.avif); */
  background-size: 100% 100%;

  --webkit-background-clip: text;

  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description-text {
  border: 2px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.description-text p {
  line-height: 30px;
  font-size: 18px;
}

.date-venue {
  padding-bottom: 130px;
}

.date-venue h1 {
  color: #272a31;
  font-size: 30px;
}

.date-venue p {
  color: #d3d3d3;
  font-size: 20px;
}

.mainprogram {
  background-image: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.mainprogram h1 {
  color: #f7f7f7;
  font-size: 30px;
}

.programdetailscontainer {
  display: flex;
  flex-direction: column;
}

.programdetails {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.programdetails:hover {
  border: 2px solid #d3d3d3;
  cursor: pointer;
}

.topicicon {
  color: #b1b1b1;
  max-width: 20%;
}

.guidebar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid #ec5242;
  margin: 0 auto 54px;
}

.topicname {
  color: #ec5242;
  font-weight: bold;
  padding-left: 10px;
  max-width: 25%;
}

.topicdescription {
  color: rgb(255, 255, 255);
  padding-left: 10px;
  max-width: 55%;
  text-align: center;
}

.joindiv {
  background-color: #ec5242;
  width: 80%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.featurespeaker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.featurespeaker h1 {
  font-size: 30px;
}

.profession {
  color: #ec5242;
  font-size: 16px;
}

.shortintro {
  font-size: 14px;
}

.speakerintro {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 30px;
  padding: 30px;
}

.speakerdetails {
  display: flex;
  flex-direction: column;
}

.speakercard {
  display: flex;
  gap: 1em;
}

.footer-button {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
}

#lessbtn {
  display: none;
}

.downarrow {
  font-size: 28px;
  font-weight: bold;
  color: #ec5242;
  margin-bottom: 10px;
}

.partnercontainer {
  display: none;
  width: 100%;
  background-color: #5b5b5b;
}

.partnercontainer.show {
  display: block;
}

/* About section styling */
.backgroundsection {
  padding: 20px;
  background-color: #f7f7f7;
}

.abouthellotext {
  font-size: 30px;
  color: #ec5242;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.aboutimagetext {
  text-align: center;
}

.aboutdescription-text {
  background-color: #fff;
  border: 2px solid #f7f7f7;
  color: #d3d3d3;
}

.contact {
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 40px;
}

.contact p {
  color: #272a31;
}

.contact .email {
  color: #5b5b5b;
  font-weight: bold;
  text-decoration: underline;
}

.summitlogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.summitlogo p {
  text-align: center;
  color: #272a31;
}

.summitlogoset {
  margin-top: -35px;
}

.logotag {
  font-size: 30px;
}

.logo {
  margin-top: 40px;
  border: 1px solid #d3d3d3;
  margin-bottom: 40px;
}

.logo img {
  height: 110px;
  width: 350px;
}

.summitdescription {
  margin-top: -30px;
  font-size: 16px;
  margin-bottom: 40px;
  color: #272a31;
}

.line {
  width: 100%;
  height: 16px;
  border-bottom: 1px solid #d3d3d3;
  margin: 0 auto 54px;
}

.pastsummitdata {
  text-align: center;
  font-size: 15px;
}

.pastsummitphotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summityear {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.summit2020 {
  position: relative;
  background-image: url(../../images/summit2020.jpeg);
  box-shadow: inset 0 0 0 1000px rgb(191 86 53 / 80%);
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.summit2021 {
  position: relative;
  background-image: url(../../images/summit2020.jpeg);
  box-shadow: inset 0 0 0 1000px rgb(191 86 53 / 80%);
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.summit2021 img {
  width: 100%;
}

.textonimage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footersection {
  display: none;
  gap: 4em;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  color: white;
  font-size: 30px;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.partnersimagesrow1 {
  height: 100px;
  width: 100px;
}

.partnersimages img {
  height: 100px;
  width: 150px;
  margin-top: -10px;
}

.footersection img {
  height: 60px;
  width: 100px;
}

.aboutpartnercontainer {
  width: 100%;
  background-color: #5b5b5b;
  margin-top: 40px;
}

.aboutfootersection {
  display: flex;
  gap: 4em;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.aboutfootersection img {
  height: 60px;
  width: 100px;
}

.topheader {
  display: none;
}

.desktopelement {
  display: none;
}

@media (min-width: 768px) {
  .hero-section {
    margin-left: 100px;
    margin-top: 100px;
  }

  .abouthero-section {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section {
    padding: 0;
  }

  .logo-section {
    display: none;
  }

  .pastsummitphotos {
    flex-direction: row;
    gap: 1.5em;
  }

  .topheader {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
    margin-right: 50px;
    align-items: center;
    background-color: #272a31;
  }

  ul li {
    margin-left: 2rem;
    color: #fff;
  }

  ul li:last-child {
    margin-right: 100px;
  }

  header {
    background-color: #f7f7f7;
    display: block;
  }

  .toplogo {
    display: block;
    height: 60px;
    width: 100px;
    margin-left: 100px;
  }

  #closebtn {
    display: none;
  }

  .nav {
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    display: block;
    position: static;
    padding: 0;
    height: 0;
    width: 100%;
    opacity: 1;
    margin-bottom: 77px;
    background-color: #fff;
  }

  .nav-menu {
    display: flex;
    color: black;
    justify-content: flex-end;
  }

  .navbar ul li a {
    color: black;
    font-size: 20px;
  }

  .description-text {
    margin-bottom: 20px;
    width: 500px;
    font-size: 15px;
  }

  .programdetailscontainer {
    flex-direction: row;
  }

  .programdetails {
    flex-direction: column;
    gap: 1em;
    margin: 5px;
  }

  .contact {
    padding-bottom: 80px;
  }

  .fa-id-card {
    font-size: 4em;
  }

  .speakerintro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .partnersparent {
    display: flex;
    gap: 5em;
    justify-content: center;
  }

  .partnercontainer {
    display: block;
  }

  .footersection {
    display: flex;
    margin-top: 40px;
  }

  .footer-button {
    display: none;
  }

  .desktopelement {
    display: block;
  }

  .aboutimagetext {
    text-align: center;
    width: 700px;
  }

  .aboutpartnercontainer {
    display: none;
  }

  .aboutfootersection {
    background-color: #272a31;
    color: #d3d3d3;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .abouthellotext {
    display: none;
  }

  .imagetext {
    font-size: 50px;
  }

  .topicicon {
    max-width: 100%;
  }

  .topicname {
    max-width: 100%;
  }

  .topicdescription {
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .contact p {
    padding-bottom: 0;
  }
}
