@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main-section {
  background-color: grey;
  background-image: url(../../images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(210, 210, 209, 0.8);
  padding: 20px;
}

.hamburgericon {
  width: 50px;
  margin-bottom: 60px;
}

.navbar {
  display: none;
  width: 80%;
  height: 100vh;
  background-color: #5b5b5b;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #e4e4e4;
}

.navbar ul li {
  list-style: none;
  margin-bottom: 20px;
  color: #e4e4e4;
  font-size: 30px;
}

.navbar.show {
  display: block;
}

.closediv {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}

.hellotext {
  font-size: 30px;
  color: #ec5242;
  margin-bottom: 5px;
}

.imagetext {
  color: #ec5242;
  background-image: url(./images/pastsummit1.jpeg);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description-text {
  border: 2px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.description-text p {
  line-height: 30px;
  font-size: 18px;
}

.date-venue {
  margin-bottom: 40px;
}

.date-venue h1 {
  color: #5b5b5b;
  font-size: 30px;
}

.date-venue p {
  color: #b1b1b1;
  font-size: 20px;
}

.mainprogram {
  background-image: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.programdetailscontainer {
  display: flex;
  flex-direction: column;
}

.programdetails {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.topicicon {
  color: #b1b1b1;
}

.guidebar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid #ec5242;
  margin: 0 auto 54px;
}

.topicname {
  color: #ec5242;
  font-weight: bold;
  padding-left: 10px;
}

.topicdescription {
  color: rgb(255, 255, 255);
  padding-left: 10px;
}

.joindiv {
  background-color: #ec5242;
  width: 80%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.featurespeaker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.featurespeaker h1 {
  font-size: 30px;
}

.profession {
  color: #ec5242;
  font-size: 16px;
}

.shortintro {
  font-size: 14px;
}

.speakerintro {
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
}

.speakerdetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-button {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
}

#lessbtn {
  display: none;
}

.downarrow {
  font-size: 28px;
  font-weight: bold;
  color: #ec5242;
  margin-bottom: 10px;
}

.partnercontainer {
  display: none;
  width: 100%;
  background-color: #5b5b5b;
}

.partnercontainer.show {
  display: block;
}

/* About section styling */
.backgroundsection {
  padding: 20px;
  background-color: #f7f7f7;
}

.abouthellotext {
  font-size: 30px;
  color: #ec5242;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.aboutimagetext {
  color: #ec5242;

  /*  background-image: url(./images/womenBackgeound.png);
  background-size: 100% 100%;
  -webkit-background-clip: text; */
  display: flex;
  justify-content: center;
}

.aboutdescription-text {
  background-color: #fff;
  border: 2px solid #f7f7f7;
}

.contact {
  text-align: center;
}

.contact .email {
  color: #5b5b5b;
  font-weight: bold;
}

.summitlogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 40px;
  border: 1px solid black;
  margin-bottom: 40px;
}

.logo img {
  height: 110px;
  width: 350px;
}

.summitdescription {
  margin-top: -30px;
}

.line {
  width: 100%;
  height: 16px;
  border-bottom: 1px solid rgb(129, 127, 127);
  margin: 0 auto 54px;
}

.summit2020 {
  background: url(./images/pastsummit1.jpeg) no-repeat;
  min-height: 300px;
  width: 400px;
  background-color: #ec5242;
  background-blend-mode: lighten;
  background-size: cover;

  /* background-repeat: no-repeat;
  background-size: contain; */
  opacity: 0.2;
}

.textonimage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textonimage {
  color: white;
}

.footersection {
  display: none;
  gap: 4em;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.imagecontainer {
  display: flex;
  justify-content: space-evenly;
}

.partnersimages img {
  height: 150px;
  width: 200px;
}

.footersection img {
  height: 60px;
  width: 100px;
}

/* @media (min-width: 768px) {
  .programdetailscontainer {
    flex-direction: row;

  }

  .programdetails {
    flex-direction: column;
  }
} */

/* Medium devices (tablets, 768px and up)
 */
@media (min-width: 768px) {
  .main-section {
    padding: 0;
  }

  header {
    background-color: #f7f7f7;
  }
}

/* // Large devices (desktops, 992px and up)
 */
/* @media (min-width: 992px) {
} */

/* // X-Large devices (large desktops, 1200px and up)
 */
/* @media (min-width: 1200px) {
} */
